server:
  port: 18081

spring:
  application:
    name: user-service
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:18848
        username: nacos
        password: nacos

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics