target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin
*.log

### Binaries & test data ###
*.jar
!.mvn/wrapper/maven-wrapper.jar
*.csv
*.jmx

### Claude Code ###
.claude/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
