# MySQL Configuration
MYSQL_HOST=host.docker.internal
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=your_mysql_password
MYSQL_DB_FLASHSALE=flashsale_config

# Nacos Configuration
NACOS_AUTH_TOKEN=your_nacos_auth_token

# RabbitMQ Configuration
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=your_rabbitmq_password

# Grafana Configuration
GF_ADMIN_PASSWORD=your_grafana_password